* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: sans-serif;
  font-size: 40px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
  grid-template-columns: [um]1fr [dois]1fr [tres]1fr [quatro];
  /* gap: 30px; /* Atalho para row-gap e column-gap */
  row-gap: 30px;
  column-gap: 30px;
}

.grid div {
  background: tomato;
  min-height: 100px;
}

.grid div:nth-child(5) {
  background: darkred;
  grid-column-start: dois;
  grid-column-end: tres;
  /* grid-area: 1 / 1 / 5 / 3; */
}
